**PART B: Normalize the data**

In [1]:
# Libraries

import pandas as pd
import numpy as np

In [2]:
# Load data

data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
# Size of the dataset

data.shape

(1030, 9)

In [4]:
# Summarize dataset

data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
# Are there missing values?

data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
# "Strength" is our target column
# All other columns are our predictors columns

data_columns = data.columns

predictors = data[data_columns[data_columns != 'Strength']]
print(predictors_norm.head())

target = data['Strength']

# Normalizing Predictors and printing the first five rows.
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()
print(target.head())

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [8]:
# number of predictors

n_cols = predictors_norm.shape[1]
n_cols

8

**Building the model**

In [9]:
import keras

#Other functions
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [10]:
# Define NN

def regression_model():
    #create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
# Split dataset to train_set and test_set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=1)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)

In [12]:
# Build the model
model_B = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [13]:
# Train a model on the training data using 50 epochs
model_B.fit(X_train, y_train, epochs=50, verbose=2)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50

2022-04-06 11:32:29.248686: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 FMA
2022-04-06 11:32:29.268803: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2095145000 Hz
2022-04-06 11:32:29.269657: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x56553dbfe2a0 executing computations on platform Host. Devices:
2022-04-06 11:32:29.269715: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2022-04-06 11:32:29.549147: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

 - 1s - loss: 1617.4968
Epoch 2/50
 - 0s - loss: 1600.3444
Epoch 3/50
 - 0s - loss: 1583.8012
Epoch 4/50
 - 0s - loss: 1567.0557
Epoch 5/50
 - 0s - loss: 1550.4722
Epoch 6/50
 - 0s - loss: 1533.5785
Epoch 7/50
 - 0s - loss: 1516.1283
Epoch 8/50
 - 0s - loss: 1498.6170
Epoch 9/50
 - 0s - loss: 1479.9832
Epoch 10/50
 - 0s - loss: 1460.9083
Epoch 11/50
 - 0s - loss: 1441.0922
Epoch 12/50
 - 0s - loss: 1420.5914
Epoch 13/50
 - 0s - loss: 1399.0358
Epoch 14/50
 - 0s - loss: 1377.0274
Epoch 15/50
 - 0s - loss: 1353.8738
Epoch 16/50
 - 0s - loss: 1329.5804
Epoch 17/50
 - 0s - loss: 1304.9134
Epoch 18/50
 - 0s - loss: 1279.1849
Epoch 19/50
 - 0s - loss: 1253.0207
Epoch 20/50
 - 0s - loss: 1225.8483
Epoch 21/50
 - 0s - loss: 1197.9248
Epoch 22/50
 - 0s - loss: 1169.7600
Epoch 23/50
 - 0s - loss: 1140.6030
Epoch 24/50
 - 0s - loss: 1111.2765
Epoch 25/50
 - 0s - loss: 1081.5004
Epoch 26/50
 - 0s - loss: 1051.0973
Epoch 27/50
 - 0s - loss: 1020.0893
Epoch 28/50
 - 0s - loss: 989.3146
Epoch 29/50
 - 0s - loss: 958.0205
Epoch 30/50
 - 0s - loss: 926.7487
Epoch 31/50
 - 0s - loss: 895.1925
Epoch 32/50
 - 0s - loss: 863.5670
Epoch 33/50
 - 0s - loss: 832.3590
Epoch 34/50
 - 0s - loss: 800.5954
Epoch 35/50
 - 0s - loss: 769.3435
Epoch 36/50
 - 0s - loss: 738.3822
Epoch 37/50
 - 0s - loss: 707.6036
Epoch 38/50
 - 0s - loss: 677.4653
Epoch 39/50
 - 0s - loss: 647.7563
Epoch 40/50
 - 0s - loss: 618.7638
Epoch 41/50
 - 0s - loss: 590.7010
Epoch 42/50
 - 0s - loss: 563.2093
Epoch 43/50
 - 0s - loss: 536.4068
Epoch 44/50
 - 0s - loss: 511.2285
Epoch 45/50
 - 0s - loss: 486.3716
Epoch 46/50
 - 0s - loss: 462.9665
Epoch 47/50
 - 0s - loss: 440.6406
Epoch 48/50
 - 0s - loss: 419.5157
Epoch 49/50
 - 0s - loss: 399.3423
Epoch 50/50
 - 0s - loss: 380.6277

In [14]:
# Evaluate the model
loss_val = model_B.evaluate(X_test, y_test)
y_pred = model_B.predict(X_test)
loss_val

309/309 [==============================] - 0s 337us/step

361.6411148614482

In [15]:
# Evaluate the model on the test data
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

361.64111726920515 0.0

Repeat the previous steps and create a list of **50** mean squared errors

In [16]:

epochs = 50
mean_squared_errors = []
for i in range(0, 50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model_B.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model_B.evaluate(X_test, y_test, verbose=0)
    print("Loop -  "+str(i+1)+": "+str(MSE))
    y_pred = model_B.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Loop -  1: 143.44307948239026
Loop -  2: 142.22349548339844
Loop -  3: 90.39400050092283
Loop -  4: 72.96642502226105
Loop -  5: 63.7253786846272
Loop -  6: 63.96930334097359
Loop -  7: 57.36106149124096
Loop -  8: 41.20578736240424
Loop -  9: 44.63021285171262
Loop -  10: 41.433275475856945
Loop -  11: 40.509513916706965
Loop -  12: 38.02547040031951
Loop -  13: 44.672913393928006
Loop -  14: 46.910424192360686
Loop -  15: 37.701282390113015
Loop -  16: 34.872981858484955
Loop -  17: 38.11692603892107
Loop -  18: 38.55136500978933
Loop -  19: 36.213961110531706
Loop -  20: 40.10665967626479
Loop -  21: 36.570472297545
Loop -  22: 36.37219691970974
Loop -  23: 30.893515762773532
Loop -  24: 35.94955149283301
Loop -  25: 35.17705358116372
Loop -  26: 39.08367803876068
Loop -  27: 33.46911807507759
Loop -  28: 34.48042313412169
Loop -  29: 41.07336786263969
Loop -  30: 38.97969597751654
Loop -  31: 35.362904212235634
Loop -  32: 32.65020736521502
Loop -  33: 35.56293391255499
Loop -  34: 38.71485242874491
Loop -  35: 37.17455709019139
Loop -  36: 42.9891664943263
Loop -  37: 32.287133763137376
Loop -  38: 40.6312361288225
Loop -  39: 36.55107933957986
Loop -  40: 32.266589760394545
Loop -  41: 38.36522304201589
Loop -  42: 31.336235848831127
Loop -  43: 37.512785840574594
Loop -  44: 40.21029232235016
Loop -  45: 42.01108248565575
Loop -  46: 36.152452425663526
Loop -  47: 34.70080281229853
Loop -  48: 38.947625132440365
Loop -  49: 35.10585702198609
Loop -  50: 38.34579588757364


Mean: 45.119227960153694
Standard Deviation: 22.664041170688353