**PART B**

In [1]:
# Libraries

import pandas as pd
import numpy as np

In [2]:
# Load data

data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
# Size of the dataset

data.shape

(1030, 9)

In [4]:
# Summarize dataset

data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
# Are there missing values?

data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
# "Strength" is our target column
# All other columns are our predictors columns

data_columns = data.columns

predictors = data[data_columns[data_columns != 'Strength']]
target = data['Strength']
print(target.head())

# Normalizing Predictors and printing the first five rows.
predictors_norm = (predictors- predictors.mean())/predictors.std()
print(predictors_norm.head())

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [8]:
n_col = predictors_norm.shape[1] # number of predictors
n_col

8

**Building the model**

In [9]:
import keras

#Other functions
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [10]:
# Define NN
#Apply 3 hidden layers, each of 10 nodes and ReLU activation function.

def regression_model():
    #create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_col,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
#Split dataset to train_set and test_set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)

In [12]:
#Build the model
model_D = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [13]:
#Train a model on the training data using 50 epochs

model_D.fit(X_train, y_train, epochs=50, verbose=2)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50

2022-04-06 11:48:05.359313: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 FMA
2022-04-06 11:48:05.370035: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2095145000 Hz
2022-04-06 11:48:05.370913: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x5621fc6dfd20 executing computations on platform Host. Devices:
2022-04-06 11:48:05.370965: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2022-04-06 11:48:05.524744: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

 - 0s - loss: 1588.8981
Epoch 2/50
 - 0s - loss: 1561.2558
Epoch 3/50
 - 0s - loss: 1530.5645
Epoch 4/50
 - 0s - loss: 1491.3434
Epoch 5/50
 - 0s - loss: 1439.2325
Epoch 6/50
 - 0s - loss: 1370.7455
Epoch 7/50
 - 0s - loss: 1280.1240
Epoch 8/50
 - 0s - loss: 1161.5475
Epoch 9/50
 - 0s - loss: 1007.9515
Epoch 10/50
 - 0s - loss: 820.5401
Epoch 11/50
 - 0s - loss: 619.3019
Epoch 12/50
 - 0s - loss: 434.0489
Epoch 13/50
 - 0s - loss: 316.0003
Epoch 14/50
 - 0s - loss: 260.4521
Epoch 15/50
 - 0s - loss: 237.6483
Epoch 16/50
 - 0s - loss: 226.0275
Epoch 17/50
 - 0s - loss: 217.0464
Epoch 18/50
 - 0s - loss: 209.2938
Epoch 19/50
 - 0s - loss: 202.8387
Epoch 20/50
 - 0s - loss: 197.4500
Epoch 21/50
 - 0s - loss: 192.3281
Epoch 22/50
 - 0s - loss: 187.5225
Epoch 23/50
 - 0s - loss: 183.6067
Epoch 24/50
 - 0s - loss: 179.2997
Epoch 25/50
 - 0s - loss: 175.6292
Epoch 26/50
 - 0s - loss: 172.3673
Epoch 27/50
 - 0s - loss: 168.6537
Epoch 28/50
 - 0s - loss: 165.4442
Epoch 29/50
 - 0s - loss: 162.8618
Epoch 30/50
 - 0s - loss: 159.9983
Epoch 31/50
 - 0s - loss: 157.4692
Epoch 32/50
 - 0s - loss: 155.5515
Epoch 33/50
 - 0s - loss: 153.1583
Epoch 34/50
 - 0s - loss: 150.6706
Epoch 35/50
 - 0s - loss: 148.5904
Epoch 36/50
 - 0s - loss: 146.6562
Epoch 37/50
 - 0s - loss: 144.6030
Epoch 38/50
 - 0s - loss: 143.0870
Epoch 39/50
 - 0s - loss: 141.2008
Epoch 40/50
 - 0s - loss: 139.9159
Epoch 41/50
 - 0s - loss: 138.7055
Epoch 42/50
 - 0s - loss: 137.3662
Epoch 43/50
 - 0s - loss: 135.8915
Epoch 44/50
 - 0s - loss: 134.5049
Epoch 45/50
 - 0s - loss: 133.3929
Epoch 46/50
 - 0s - loss: 132.2404
Epoch 47/50
 - 0s - loss: 130.8148
Epoch 48/50
 - 0s - loss: 130.1342
Epoch 49/50
 - 0s - loss: 128.5072
Epoch 50/50
 - 0s - loss: 128.2153

In [14]:
#Evaluate the model
loss_val = model_D.evaluate(X_test, y_test)
y_pred = model_D.predict(X_test)
loss_val

309/309 [==============================] - 0s 179us/step

134.21970295828908

In [15]:
# Evaluate the model on the test data
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

134.21970850718543 0.0

Repeat the previous steps and create a list of **50** mean squared errors

In [ ]:

epochs = 50
mean_squared_errors = []
for i in range(0, 50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model_B.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model_B.evaluate(X_test, y_test, verbose=0)
    print("Loop -  "+str(i+1)+": "+str(MSE))
    y_pred = model_B.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Loop -  1: 83.49719351857998
Loop -  2: 80.27036147133046
Loop -  3: 43.646287985989964
Loop -  4: 42.02761814895185
Loop -  5: 39.87471519396143
Loop -  6: 42.10443716450416
Loop -  7: 39.6443178491685
Loop -  8: 33.824781886968026
Loop -  9: 32.6547350713736
Loop -  10: 37.98825957165567
Loop -  11: 31.09192737715144
Loop -  12: 28.039209365844727
Loop -  13: 32.74160250568081
Loop -  14: 34.76343884514373
Loop -  15: 29.70130352526421
Loop -  16: 21.594389023518485
Loop -  17: 28.276441993836833
Loop -  18: 27.175591221905062
Loop -  19: 25.765202417342795
Loop -  20: 29.249874553248336
Loop -  21: 24.86661465345463
Loop -  22: 25.939835162610297
Loop -  23: 22.177385861048034
Loop -  24: 24.312439977158235
Loop -  25: 25.137183464074983
Loop -  26: 26.030164070499755
Loop -  27: 22.329775211494717
Loop -  28: 21.887884498028306
Loop -  29: 22.75000457393313
Loop -  30: 25.294923714449492
Loop -  31: 22.145869233461646
Loop -  32: 21.674891795926882
Loop -  33: 18.78727709205405
Loop -  34: 24.349155555651027
Loop -  35: 26.07865113193549
Loop -  36: 26.874983784450297
Loop -  37: 18.226329284964255
Loop -  38: 20.996457368424796
Loop -  39: 20.428383959921433
Loop -  40: 19.136354440238485
Loop -  41: 23.80254617092293
Loop -  42: 18.124682120906495
Loop -  43: 21.322614416721184
Loop -  44: 24.85849645299819