**PART B**

In [1]:
# Libraries

import pandas as pd
import numpy as np

In [2]:
# Load data

data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
# Size of the dataset

data.shape

(1030, 9)

In [4]:
# Summarize dataset

data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
# Are there missing values?

data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
# "Strength" is our target column
# All other columns are our predictors columns

data_columns = data.columns

predictors = data[data_columns[data_columns != 'Strength']]

target = data['Strength']
print(target.head())

# Normalizing Predictors and printing the first five rows.
predictors_norm = (predictors - predictors.mean()) / predictors.std()
print(predictors_norm.head())

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [8]:
# number of predictors

n_cols = predictors_norm.shape[1]
n_cols

8

**Start building the model**

In [9]:
import keras

#Other functions
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [10]:
# Define

def regression_model():
    #create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
#Split dataset to train_set and test_set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=1)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)

In [12]:
# Build the model

model_C = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [13]:
# Train a model on the training data using 100 epochs
# Repeat Part B but use 100 epochs this time for training.

model_C.fit(X_train, y_train, epochs=50, verbose=2)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50

2022-04-06 11:39:33.655987: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 FMA
2022-04-06 11:39:33.667305: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2095145000 Hz
2022-04-06 11:39:33.668241: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x557aa0be9020 executing computations on platform Host. Devices:
2022-04-06 11:39:33.668291: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2022-04-06 11:39:33.766230: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

 - 0s - loss: 1581.4374
Epoch 2/50
 - 0s - loss: 1565.0609
Epoch 3/50
 - 0s - loss: 1548.3573
Epoch 4/50
 - 0s - loss: 1531.5366
Epoch 5/50
 - 0s - loss: 1513.8632
Epoch 6/50
 - 0s - loss: 1495.6613
Epoch 7/50
 - 0s - loss: 1476.4843
Epoch 8/50
 - 0s - loss: 1456.1908
Epoch 9/50
 - 0s - loss: 1434.9514
Epoch 10/50
 - 0s - loss: 1412.3303
Epoch 11/50
 - 0s - loss: 1388.4459
Epoch 12/50
 - 0s - loss: 1363.3370
Epoch 13/50
 - 0s - loss: 1337.4388
Epoch 14/50
 - 0s - loss: 1310.0355
Epoch 15/50
 - 0s - loss: 1281.8420
Epoch 16/50
 - 0s - loss: 1252.4918
Epoch 17/50
 - 0s - loss: 1222.4960
Epoch 18/50
 - 0s - loss: 1191.8665
Epoch 19/50
 - 0s - loss: 1160.5909
Epoch 20/50
 - 0s - loss: 1128.7445
Epoch 21/50
 - 0s - loss: 1096.4310
Epoch 22/50
 - 0s - loss: 1064.4466
Epoch 23/50
 - 0s - loss: 1031.5333
Epoch 24/50
 - 0s - loss: 999.2970
Epoch 25/50
 - 0s - loss: 967.0352
Epoch 26/50
 - 0s - loss: 934.7105
Epoch 27/50
 - 0s - loss: 903.1654
Epoch 28/50
 - 0s - loss: 871.2901
Epoch 29/50
 - 0s - loss: 840.9645
Epoch 30/50
 - 0s - loss: 810.6361
Epoch 31/50
 - 0s - loss: 781.0518
Epoch 32/50
 - 0s - loss: 752.3131
Epoch 33/50
 - 0s - loss: 724.4551
Epoch 34/50
 - 0s - loss: 697.2329
Epoch 35/50
 - 0s - loss: 671.0018
Epoch 36/50
 - 0s - loss: 645.1545
Epoch 37/50
 - 0s - loss: 620.1076
Epoch 38/50
 - 0s - loss: 595.9236
Epoch 39/50
 - 0s - loss: 572.8990
Epoch 40/50
 - 0s - loss: 550.4568
Epoch 41/50
 - 0s - loss: 528.8291
Epoch 42/50
 - 0s - loss: 507.9730
Epoch 43/50
 - 0s - loss: 488.3714
Epoch 44/50
 - 0s - loss: 469.1667
Epoch 45/50
 - 0s - loss: 450.5259
Epoch 46/50
 - 0s - loss: 433.0704
Epoch 47/50
 - 0s - loss: 416.1488
Epoch 48/50
 - 0s - loss: 400.1571
Epoch 49/50
 - 0s - loss: 384.6490
Epoch 50/50
 - 0s - loss: 369.9612

In [14]:
#Evaluate the model
loss_val = model_C.evaluate(X_test, y_test)
y_pred = model_C.predict(X_test)
loss_val

309/309 [==============================] - 0s 134us/step

329.9382202741012

In [15]:
# Evaluate the model on the test data
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

329.9382219310849 0.0

Repeat the previous steps and create a list of **100** mean squared errors

In [16]:

epochs = 50
mean_squared_errors = []
for i in range(0, 100):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model_B.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model_B.evaluate(X_test, y_test, verbose=0)
    print("Loop -  "+str(i+1)+": "+str(MSE))
    y_pred = model_C.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Loop -  1: 133.11092714970167
Loop -  2: 124.70479754105355
Loop -  3: 88.86041884437734
Loop -  4: 73.46706008911133
Loop -  5: 60.061684086870606
Loop -  6: 60.7616107533279
Loop -  7: 54.01917671771497
Loop -  8: 37.956596386857015
Loop -  9: 41.4584179233193
Loop -  10: 38.56408032167305
Loop -  11: 38.62697100099236
Loop -  12: 35.821789596458856
Loop -  13: 44.402935318190686
Loop -  14: 44.125765334441056
Loop -  15: 36.59340536864444
Loop -  16: 34.40955361424912
Loop -  17: 35.632525786612796
Loop -  18: 36.07051640729688
Loop -  19: 35.531432093154265
Loop -  20: 37.17451688155387
Loop -  21: 34.64666777675592
Loop -  22: 34.3309387651462
Loop -  23: 31.59357144994643
Loop -  24: 34.895164625544375
Loop -  25: 34.708769968026665
Loop -  26: 36.0032747756316
Loop -  27: 32.66368868435857
Loop -  28: 31.530301140350044
Loop -  29: 37.282960243595454
Loop -  30: 36.80784412495141
Loop -  31: 33.347273323528206
Loop -  32: 32.0009651307535
Loop -  33: 32.32008484034862
Loop -  34: 34.3143082035398
Loop -  35: 35.03294826865582
Loop -  36: 40.38877139045197
Loop -  37: 29.900692266939526
Loop -  38: 37.22335563585596
Loop -  39: 32.96340328821472
Loop -  40: 30.434787083598017
Loop -  41: 34.343143493998014
Loop -  42: 28.710255193864644
Loop -  43: 34.379293750404926
Loop -  44: 36.155357891687686
Loop -  45: 36.54058257661591
Loop -  46: 33.529839006442465
Loop -  47: 32.017533472054986
Loop -  48: 34.21958650508745
Loop -  49: 34.5781855783802
Loop -  50: 37.10456641978045
Loop -  51: 30.206400207717056
Loop -  52: 33.35965719192159
Loop -  53: 32.81757449795127
Loop -  54: 33.45302710178215
Loop -  55: 40.5264998006975
Loop -  56: 35.25275701380856
Loop -  57: 29.423788805223978
Loop -  58: 32.42616779364428
Loop -  59: 34.83103810159134
Loop -  60: 32.65410921411607
Loop -  61: 33.50978097020615
Loop -  62: 31.97542005372279
Loop -  63: 30.480714705383892
Loop -  64: 32.61559365405234
Loop -  65: 32.248418517868885
Loop -  66: 34.38081311716617
Loop -  67: 30.935721412831526
Loop -  68: 32.76753991630085
Loop -  69: 30.874822919036966
Loop -  70: 29.73719386375452
Loop -  71: 32.57200189855878
Loop -  72: 30.866887484553562
Loop -  73: 30.675833384195965
Loop -  74: 30.88502075294075
Loop -  75: 35.055148362341825
Loop -  76: 31.028633438653543
Loop -  77: 30.23883214043182
Loop -  78: 29.33722960833207
Loop -  79: 35.770983489200134
Loop -  80: 33.573521487535395
Loop -  81: 32.153010001074534
Loop -  82: 34.7224929216996
Loop -  83: 33.188276889640534
Loop -  84: 30.844332889445777
Loop -  85: 30.179079660705764
Loop -  86: 30.940176917511284
Loop -  87: 30.336999578383363
Loop -  88: 29.194971016695586
Loop -  89: 29.187635711867447
Loop -  90: 31.02718724864972
Loop -  91: 32.123939538850756
Loop -  92: 29.24951461372252
Loop -  93: 33.73113668003514
Loop -  94: 28.840435534233414
Loop -  95: 32.66621908786613
Loop -  96: 29.825870439844223
Loop -  97: 35.03336278674672
Loop -  98: 31.43700328691106
Loop -  99: 31.120906298986146
Loop -  100: 29.473548302758473


Mean: 37.15079528020571
Standard Deviation: 15.620909487999494